<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/tasks">Задания</a></li>
                <li><a href="/cpanel">Панель управления</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="hi" href="#"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Профиль <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Статистика</a></li>
                        <li><a href="#">Редактировать профиль</a></li>
                        <li><a href="#">Поддержка</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12"><p class="text-center">Question</p></div>
    </div><br/>
    <div class="row">
        <input type="radio" class="radio" id="radio" />
        <label for="radio">А я переключаю радиокнопку</label>
    </div><br/>
    <div class="row">
        <div class="col-md-1"><input type="radio"></div>
        <div class="col-md-11"><span>Answer2</span></div>
    </div><br/>
    <div class="row">
        <div class="col-md-1"><input type="radio"></div>
        <div class="col-md-11"><span>Answer3</span></div>
    </div><br/>
    <div class="row">
        <div class="col-md-1"><input type="radio"></div>
        <div class="col-md-11"><span>Answer4</span></div>
    </div><br/>

</div>
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/main.js">setUsernameOnload()</script>
</body>
</html>